@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #FFE3D8;
    padding: 0;
    margin: 0;
}
.nav-section {
    margin: 60px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.name {
    color: #405D72;
}
.cart-container {
    padding: 20px;
    border-radius: 16px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(2px);
}
